/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* global styles
-------------------------------------- */
body {
  font-family: "Montserrat", sans-serif;
}

/* header styles
-------------------------------------- */
header {
  height: 26%;
  height: calc(var(--vh, 1vh) * 26);
  text-align: center;
}
header img {
  height: 25%;
  height: calc(var(--vh, 1vh) * 25);
  padding-top: 10px;
}

/* main styles
-------------------------------------- */
main {
  height: 55%;
  height: calc(var(--vh, 1vh) * 55);
  position: relative;
}
#start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 30px;

  transition: 1s;
}
span {
  content: "";
  width: 1px;
  height: 20%;
  height: calc(var(--vh, 1vh) * 20);
  background: black;

  transition: 1s;
}
span:first-child {
  position: absolute;
  top: -450%;
  left: 50%;
  transform: translateX(-50%);
}
span:last-child {
  position: absolute;
  bottom: -500%;
  left: 50%;
  transform: translateX(-50%);
}
#start:hover {
  color: rgba(0, 0, 0, 0.3);
}
.opacity {
  opacity: 0;
}
.height {
  height: 0;
}


/* timer & getAnswer styles
-------------------------------------- */
#timer,
#gameAnswer {
  height: 15%;
  height: calc(var(--vh, 1vh) * 15);
  padding: 10px 0;
  text-align: center;
  position: relative;
}
#timer p {
  /* font-family: 'Allura', cursive; */
  font-family: "Alex Brush", cursive;
  font-weight: 100;
  /* font-size: 35px; */
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#gameAnswerImage {
  width: 250px;
  height: 10%;
  height: calc(var(--vh, 1vh) * 10);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-5deg);
}

/* game styles
-------------------------------------- */
#game {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}
#showQuestion {
  font-size: 20px;
  font-weight: 400;
  height: 10%;
  height: calc(var(--vh, 1vh) * 10);
  line-height: 1.3em;
  margin: 0 0 25px;
}
#showChoices {
  height: 25%;
  height: calc(var(--vh, 1vh) * 25);
}
button {
  background: none;
  border: none;

  display: block;
  margin: 2px auto;
  height: 4.5%;
  height: calc(var(--vh, 1vh) * 4.5);

  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  color: black;
  font-size: 18px;
  padding: 2px 15px;
}
.choice:hover {
  border-radius: 20px;
  background: rgba(220, 220, 220, 0.5);
}
.correct {
  border-radius: 20px;
  background: rgba(173, 255, 47, 0.5);
}
.wrong {
  border-radius: 20px;
  background: rgba(250, 128, 114, 0.5);
}
@media screen and (min-width: 620px) {
  #game {
    width: 540px;
  }
  #showQuestion {
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 30px;
  }
  button {
    font-size: 20px;
  }
}

/* result styles
-------------------------------------- */
#result {
  text-align: center;
}
#result p {
  margin: 5px 0;
  font-size: 18px;
  font-weight: 100;

  height: 3%;
  height: calc(var(--vh, 1vh) * 3);
}
#result .score {
  /* font-family: 'Allura', cursive; */
  font-family: "Alex Brush", cursive;
}
#result p:first-child {
  margin: 40px 0;
  font-size: 23px;
  font-weight: 300;

  height: 4%;
  height: calc(var(--vh, 1vh) * 4);
}
#result button {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-top: 30px;
  padding: 1px 15px;

  height: 5%;
  height: calc(var(--vh, 1vh) * 5);
}
@media screen and (min-width: 620px) {
  #result p {
    font-size: 25px;
  }
  #result button {
    font-size: 25px;
  }
}

/* footer styles
-------------------------------------- */
footer {
  height: 17%;
  height: calc(var(--vh, 1vh) * 17);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
footer img {
  height: 16%;
  height: calc(var(--vh, 1vh) * 16);
}
